[
    {name,"smfpl-payment-rack-client"},
    {version, "0.0.1"},
    {section, "smprc"},
    {description, "Simferopol app client app"},
    {package_t, ["deb"]},
    {arch, "all"},
    {maintainers, ["achirkin@smprc.ru"]},
    {deps, ["nginx"]},
    {build_deps, [
        {"devel-tools", "trunk", ""}
    ]} 
].
